{% comment %}
Home category Video
{% endcomment %}
<section class='catvid'>{{ section.settings.video | video_tag }}</section>{% schema %}{"name":"Home Category Video","settings":[{"type":"video","id":"video","label":"Video"}]}{% endschema %}