{% schema %}
{ "name": "Footer",
  "settings": [],
  "presets": [{ "name": "Footer" }]
}
{% endschema %}
<div class="footer container">
  <div>© {% assign y = 'now' | date: '%Y' %}{{ y }} Saintly Trends Pvt. Ltd.</div>
</div>
